
body{
  color: midnightblue;
  font-family: Arial, Helvetica, sans-serif;
}
#logo{
  position: relative;
  float: left;
}
#top{
  position: relative;
  background-image: url("backtop.jpg");
  height: 78px;
  width: 100%;
  padding: 10px;
}
#gentitle{
  font-family: "Verdana,Arial,sans-serif";
  line-height: 50%;
  margin-left: 113px;
  font-size: medium;
}
#title{
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 5px;
}
#subtitle{
  margin-top: 5px;
  margin-bottom:10px;

}


table {
    border-collapse: collapse;
}
table, th, td{
      /*display: table-row-group;*/
    /*vertical-align: middle;*/
    border: 1px solid midnightblue;
}

tr, th{
  border-right: 1pt solid;
    border-bottom: 2pt solid;
}
.topTable{
  background-color: #f7eecf;
}
#topmenu{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width:65px;
  line-height: 100%;
}
.menu{
 width: 10%;
 float: left;
}

ul.bottomClass{
  width: 70%;
  list-style-type: none;
  border: 1px solid midnightblue;
  padding-left : 1px;
  margin-right: 30px;
  background-color: :#f7eecf;
}

#ligneOrange{
  margin-bottom: : 2px;
  border: 1px solid #d2691e;
}

.opt1 a, .opt2 a, .opt3 a, .opt4 a, .opt5 a, .opt6 a, .opt7 a, .opt8 a, .opt9 a, .opt10 a, .opt11 a, .opt12 a, .opt13 a{
  text-decoration: none;
  color: midnightblue;
}

.opt1, .opt2, .opt3, .opt4, .opt5, .opt6, .opt7, .opt8, .opt9, .opt10, .opt11, .opt12, .opt13{
    padding-top: 0.33ex;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
  }
.opt1,.opt4, .opt5, .opt7, .opt9, .opt11, .opt12, .opt13{
  background-color: #f7eecf;
}

.opt2{
  background-color: #094f93;
}

.opt2 span a{
  color: #dae4ed;
}
.opt3, .opt6,.opt8, .opt10{
    background-color: #a9c0d3;
}

#table{
  width: : 80%;
}

h1,h2 { margin-top: 2ex; color: #034f93;}/*Le  border-Top n'est pas la ou il devrait etre.*/
h1 { font-weight:bold; font-size:x-large;}
h2 { font-weight:bold; font-size:large;}
h3 { font-weight:bold; font-size:medium; }
h4 { font-weight:bold; font-size:small; }
