body{
  color: midnightblue;
}
#logo{
  position: relative;
  float: left;
}
#top{
  position: relative;
  background-image: url("backtop.jpg");
  height: 78px;
  width: 100%;
  padding: 10px;
}
#gentitle{
  font-family: "Verdana,Arial,sans-serif";
  line-height: 50%;
  margin-left: 113px;
  font-size: medium;
}
#title{
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 5px;
}
#subtitle{
  margin-top: 5px;
  margin-bottom:10px;

}
#topmenu{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width:65px;
  line-height: 100%;
}
#menu{
 float:left;
 width:102px;
}
#table{
 float:right;
}
