<!DOCTYPE html>
<html>
<p> 
<head>
	<meta charset="utf-8"></meta>
	<title>seances</title>
	<link rel="stylesheet" type="text/css" href="seances.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="seances.js"></script>
</head>
<body ng-app="app">
	<div id="top">
		<a id="logo" href="https://www.polymtl.ca">
			<img src="logopoly.gif" alt="Logo Polytechnique">
		</a>
		
		<div id="gentitle">
			<div id="title">LOG2420, Analyse et conception d'interfaces utilisateurs</div><br>
			<div id="subtitle">Automne 2016</div>
		</div>
		
		<div id="topmenu">
			<a id="print" href="">
				<img src="printer.png"></img>
				version imprimable
			</a>
		</div>

	</div>
	<div ID = "bottom">
		<div id="menu" ng-controller="menuCtrl">
	      <ul>
	        <li ng-repeat="o in menu">
	        <!--o.lien et o.Lien ne font pas la meme chose... so damn case sensitive this javascript XD!-->
	          <a href="{{o.Lien}}">{{o.Nom}}</a>
	        </li>
	      </ul>
		</div>

		<div id="table" class="center" ng-controller="seancesCtrl">
			<table>
				<tr>
					<th>Semaines</th>
					<th>Transparents</th>
					<th>Documents</th>
					<th>Évaluations</th>
				</tr>
				<tr ng-repeat="val in seances">
					<td ng-bind-html="val.date"></td>
					<td ng-bind-html="val.transparents"></td>
					<td ng-bind-html="val.documents"></td>
					<td ng-bind-html="val.evaluations"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
